@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins&display=swap');

footer {
    background-color: #111;
    bottom: 0;
}


.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 1em;
    color: black;
    opacity: 0.9;
}

/*Hover Effects on Social Icons*/
.socialIcons a :hover {
    background-color: #000;
    transition: 0.5s;
    /*    border-radius: 50%;*/
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: .5em;

}

.footerBottom p {
    color: white;
    justify-content: center;
    display: flex;

}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* --- START Make Footer Respondsive --- */
@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/* --- END FOOTER RESPONDSIVE --- */
