@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins&display=swap');

.navigation,
{
position: fixed;
}

.headerTop p {
    display: flex;
    background-color: #bd90db;
    width: 100%;
    align-items: center;
    margin: 0;
    color: white;
    font-family: Poppins;
    padding: 15px 30px 15px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar {
    display: flex;
    background-color: #fea5d0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: background-color .4s;
    padding: 10px 30px 0 20px;
    position: sticky;
}

.navbar img {
    max-height: 100px;
    /*    max-width: 100%;*/
    margin: 0 60%;
}

.navbar ol {
    display: flex;
    list-style-type: none;
    float: left;
    width: 300px;
}


.navbar .nav-links ol li a {
    text-decoration: none;
    margin: 0 10px;
    /*    position: absolute;*/
    color: white;
    font-family: Poppins;

}

.navbar ol li a:hover {
    color: #bd90db;
}

.navbar.active {
    background-color: black;
}

.navbar.active ol li a {
    color: white;
}