@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins&display=swap');

/*
body main .hero-image {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: "Poppins", sans-serif;
}
*/

.hero-image {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(/images/hero-img.png) no-repeat center;
    background-size: cover;
}

.heroContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*    overflow: hidden;*/
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.heroContainer h1 {
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0;
}

.heroContainer h1 span {
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
}

.des {
    margin: 20px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px black;
}

.hero-btn {
    color: #313131;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background: #f1f1f1;
    border-radius: 8px;
    transition: 0.3s all;
}

.hero-btn:hover {
    opacity: 0.8;
}